<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/category-bg.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{255,155}</string>
			<key>spriteSourceSize</key>
			<string>{255,155}</string>
			<key>textureRect</key>
			<string>{{0,0},{255,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/category-dot.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{155,155}</string>
			<key>spriteSourceSize</key>
			<string>{155,155}</string>
			<key>textureRect</key>
			<string>{{257,0},{155,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/changelog.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{81,103}</string>
			<key>spriteSourceSize</key>
			<string>{81,103}</string>
			<key>textureRect</key>
			<string>{{414,0},{81,103}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/close.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{519,0},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_L3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-3}</string>
			<key>spriteSize</key>
			<string>{89,96}</string>
			<key>spriteSourceSize</key>
			<string>{100,102}</string>
			<key>textureRect</key>
			<string>{{621,0},{89,96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/controllerBtn_LB_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-0.5}</string>
			<key>spriteSize</key>
			<string>{116,83}</string>
			<key>spriteSourceSize</key>
			<string>{118,84}</string>
			<key>textureRect</key>
			<string>{{719,0},{116,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_LT_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-0.5}</string>
			<key>spriteSize</key>
			<string>{116,83}</string>
			<key>spriteSourceSize</key>
			<string>{118,84}</string>
			<key>textureRect</key>
			<string>{{837,0},{116,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_R3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-3}</string>
			<key>spriteSize</key>
			<string>{89,96}</string>
			<key>spriteSourceSize</key>
			<string>{100,102}</string>
			<key>textureRect</key>
			<string>{{955,0},{89,96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/controllerBtn_RB_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-0.5}</string>
			<key>spriteSize</key>
			<string>{116,83}</string>
			<key>spriteSourceSize</key>
			<string>{118,84}</string>
			<key>textureRect</key>
			<string>{{1053,0},{116,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_RT_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-0.5}</string>
			<key>spriteSize</key>
			<string>{116,83}</string>
			<key>spriteSourceSize</key>
			<string>{118,84}</string>
			<key>textureRect</key>
			<string>{{1171,0},{116,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/delete-white.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0}</string>
			<key>spriteSize</key>
			<string>{71,100}</string>
			<key>spriteSourceSize</key>
			<string>{72,100}</string>
			<key>textureRect</key>
			<string>{{1289,0},{71,100}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/double-nav.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-11.5}</string>
			<key>spriteSize</key>
			<string>{176,239}</string>
			<key>spriteSourceSize</key>
			<string>{178,262}</string>
			<key>textureRect</key>
			<string>{{1391,0},{176,239}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/download-mods-here.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0}</string>
			<key>spriteSize</key>
			<string>{500,145}</string>
			<key>spriteSourceSize</key>
			<string>{501,145}</string>
			<key>textureRect</key>
			<string>{{621,91},{500,145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/download.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{170,195}</string>
			<key>spriteSourceSize</key>
			<string>{170,195}</string>
			<key>textureRect</key>
			<string>{{1123,85},{170,195}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/exclamation-red.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{56,114}</string>
			<key>spriteSourceSize</key>
			<string>{56,114}</string>
			<key>textureRect</key>
			<string>{{1632,0},{56,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/exclamation.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{39,120}</string>
			<key>spriteSourceSize</key>
			<string>{39,120}</string>
			<key>textureRect</key>
			<string>{{1632,58},{39,120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/external-link.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{414,102},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/file-add.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{94,118}</string>
			<key>spriteSourceSize</key>
			<string>{94,118}</string>
			<key>textureRect</key>
			<string>{{1632,99},{94,118}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/file.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{94,118}</string>
			<key>spriteSourceSize</key>
			<string>{94,118}</string>
			<key>textureRect</key>
			<string>{{0,157},{94,118}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/geode-list-side.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{8,120}</string>
			<key>spriteSourceSize</key>
			<string>{8,120}</string>
			<key>textureRect</key>
			<string>{{120,157},{8,120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/geode-list-top.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{1374,64}</string>
			<key>spriteSourceSize</key>
			<string>{1374,64}</string>
			<key>textureRect</key>
			<string>{{0,257},{1374,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/gift.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0}</string>
			<key>spriteSize</key>
			<string>{121,118}</string>
			<key>spriteSourceSize</key>
			<string>{124,120}</string>
			<key>textureRect</key>
			<string>{{1376,178},{121,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/github.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0}</string>
			<key>spriteSize</key>
			<string>{121,118}</string>
			<key>spriteSourceSize</key>
			<string>{124,120}</string>
			<key>textureRect</key>
			<string>{{1499,178},{121,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/globe.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{179,179}</string>
			<key>spriteSourceSize</key>
			<string>{181,181}</string>
			<key>textureRect</key>
			<string>{{1376,298},{179,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/grid-view.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{92,92}</string>
			<key>spriteSourceSize</key>
			<string>{92,92}</string>
			<key>textureRect</key>
			<string>{{1622,195},{92,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/homepage.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0}</string>
			<key>spriteSize</key>
			<string>{121,118}</string>
			<key>spriteSourceSize</key>
			<string>{124,120}</string>
			<key>textureRect</key>
			<string>{{1622,289},{121,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/hue-sliders.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{175,177}</string>
			<key>spriteSourceSize</key>
			<string>{179,179}</string>
			<key>textureRect</key>
			<string>{{0,323},{175,177}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/info-alert.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{92,92}</string>
			<key>spriteSourceSize</key>
			<string>{94,94}</string>
			<key>textureRect</key>
			<string>{{179,323},{92,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/info-warning.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{114,99}</string>
			<key>spriteSourceSize</key>
			<string>{114,114}</string>
			<key>textureRect</key>
			<string>{{273,323},{114,99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/install.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{79,91}</string>
			<key>spriteSourceSize</key>
			<string>{94,94}</string>
			<key>textureRect</key>
			<string>{{389,323},{79,91}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/keybinds.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,86}</string>
			<key>spriteSourceSize</key>
			<string>{128,86}</string>
			<key>textureRect</key>
			<string>{{482,323},{128,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/message.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{120,112}</string>
			<key>spriteSourceSize</key>
			<string>{120,112}</string>
			<key>textureRect</key>
			<string>{{612,323},{120,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-bottom-gd.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{1556,140}</string>
			<key>spriteSourceSize</key>
			<string>{1556,140}</string>
			<key>textureRect</key>
			<string>{{179,479},{1556,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-bottom-sapphire.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{1556,140}</string>
			<key>spriteSourceSize</key>
			<string>{1556,140}</string>
			<key>textureRect</key>
			<string>{{0,621},{1556,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-bottom.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{1556,140}</string>
			<key>spriteSourceSize</key>
			<string>{1556,140}</string>
			<key>textureRect</key>
			<string>{{0,763},{1556,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-side-gd.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{66,256}</string>
			<key>spriteSourceSize</key>
			<string>{66,256}</string>
			<key>textureRect</key>
			<string>{{1558,621},{66,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-side-sapphire.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{66,256}</string>
			<key>spriteSourceSize</key>
			<string>{66,256}</string>
			<key>textureRect</key>
			<string>{{1626,621},{66,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-side.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{66,256}</string>
			<key>spriteSourceSize</key>
			<string>{66,256}</string>
			<key>textureRect</key>
			<string>{{0,905},{66,256}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/mods-list-top-gd.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{1650,240}</string>
			<key>spriteSourceSize</key>
			<string>{1650,240}</string>
			<key>textureRect</key>
			<string>{{0,973},{1650,240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-top-sapphire.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{1650,240}</string>
			<key>spriteSourceSize</key>
			<string>{1650,240}</string>
			<key>textureRect</key>
			<string>{{0,1215},{1650,240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-top.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{1650,240}</string>
			<key>spriteSourceSize</key>
			<string>{1650,240}</string>
			<key>textureRect</key>
			<string>{{0,1457},{1650,240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/news.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{82,94}</string>
			<key>spriteSourceSize</key>
			<string>{82,94}</string>
			<key>textureRect</key>
			<string>{{1652,879},{82,94}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/persistent.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,1}</string>
			<key>spriteSize</key>
			<string>{124,98}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1652,963},{124,98}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/pin.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,1699},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reload-gold.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{130,116}</string>
			<key>spriteSourceSize</key>
			<string>{130,116}</string>
			<key>textureRect</key>
			<string>{{130,1699},{130,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reload.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{129,115}</string>
			<key>spriteSourceSize</key>
			<string>{129,115}</string>
			<key>textureRect</key>
			<string>{{262,1699},{129,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reset-gold.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,5}</string>
			<key>spriteSize</key>
			<string>{110,106}</string>
			<key>spriteSourceSize</key>
			<string>{122,122}</string>
			<key>textureRect</key>
			<string>{{393,1699},{110,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reset.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,5}</string>
			<key>spriteSize</key>
			<string>{110,106}</string>
			<key>spriteSourceSize</key>
			<string>{122,122}</string>
			<key>textureRect</key>
			<string>{{505,1699},{110,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/save.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-0}</string>
			<key>spriteSize</key>
			<string>{113,112}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{617,1699},{113,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/search.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{209,212}</string>
			<key>spriteSourceSize</key>
			<string>{209,212}</string>
			<key>textureRect</key>
			<string>{{732,1699},{209,212}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/settings.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-3.5}</string>
			<key>spriteSize</key>
			<string>{132,131}</string>
			<key>spriteSourceSize</key>
			<string>{138,138}</string>
			<key>textureRect</key>
			<string>{{946,1699},{132,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/source_generic.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0}</string>
			<key>spriteSize</key>
			<string>{121,118}</string>
			<key>spriteSourceSize</key>
			<string>{124,120}</string>
			<key>textureRect</key>
			<string>{{1080,1699},{121,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tab-bg.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{220,220}</string>
			<key>spriteSourceSize</key>
			<string>{220,220}</string>
			<key>textureRect</key>
			<string>{{1203,1699},{220,220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-api.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{173,157}</string>
			<key>spriteSourceSize</key>
			<string>{173,157}</string>
			<key>textureRect</key>
			<string>{{1425,1699},{173,157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-featured.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{172,156}</string>
			<key>spriteSourceSize</key>
			<string>{173,157}</string>
			<key>textureRect</key>
			<string>{{393,1807},{172,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-joke.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{172,156}</string>
			<key>spriteSourceSize</key>
			<string>{173,157}</string>
			<key>textureRect</key>
			<string>{{130,1817},{172,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober24-long.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{701,156}</string>
			<key>spriteSourceSize</key>
			<string>{702,157}</string>
			<key>textureRect</key>
			<string>{{567,1921},{701,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober24-winner-long.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{565,156}</string>
			<key>spriteSourceSize</key>
			<string>{565,157}</string>
			<key>textureRect</key>
			<string>{{0,1975},{565,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober24-winner.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{172,156}</string>
			<key>spriteSourceSize</key>
			<string>{173,157}</string>
			<key>textureRect</key>
			<string>{{1425,1858},{172,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober24.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{172,156}</string>
			<key>spriteSourceSize</key>
			<string>{173,157}</string>
			<key>textureRect</key>
			<string>{{1270,2016},{172,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25-long.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{701,156}</string>
			<key>spriteSourceSize</key>
			<string>{702,157}</string>
			<key>textureRect</key>
			<string>{{567,2079},{701,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25-winner-long.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{565,156}</string>
			<key>spriteSourceSize</key>
			<string>{566,157}</string>
			<key>textureRect</key>
			<string>{{0,2133},{565,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25-winner.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{172,156}</string>
			<key>spriteSourceSize</key>
			<string>{173,157}</string>
			<key>textureRect</key>
			<string>{{1444,2016},{172,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{172,156}</string>
			<key>spriteSourceSize</key>
			<string>{173,157}</string>
			<key>textureRect</key>
			<string>{{1270,2174},{172,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-paid-long.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{408,156}</string>
			<key>spriteSourceSize</key>
			<string>{408,157}</string>
			<key>textureRect</key>
			<string>{{567,2237},{408,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-paid.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{172,156}</string>
			<key>spriteSourceSize</key>
			<string>{173,157}</string>
			<key>textureRect</key>
			<string>{{1444,2174},{172,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/update.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{143,115}</string>
			<key>spriteSourceSize</key>
			<string>{143,115}</string>
			<key>textureRect</key>
			<string>{{1618,1699},{143,115}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/updates-available.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{110,110}</string>
			<key>spriteSourceSize</key>
			<string>{116,116}</string>
			<key>textureRect</key>
			<string>{{1618,1844},{110,110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-deprecated.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{110,110}</string>
			<key>spriteSourceSize</key>
			<string>{116,116}</string>
			<key>textureRect</key>
			<string>{{1618,1956},{110,110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-failed.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{110,110}</string>
			<key>spriteSourceSize</key>
			<string>{116,116}</string>
			<key>textureRect</key>
			<string>{{1618,2068},{110,110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-installed.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{110,110}</string>
			<key>spriteSourceSize</key>
			<string>{116,116}</string>
			<key>textureRect</key>
			<string>{{1618,2180},{110,110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-multiple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{110,110}</string>
			<key>spriteSourceSize</key>
			<string>{116,116}</string>
			<key>textureRect</key>
			<string>{{977,2237},{110,110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/version.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{65,100}</string>
			<key>spriteSourceSize</key>
			<string>{65,100}</string>
			<key>textureRect</key>
			<string>{{1089,2237},{65,100}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/APISheet-uhd.png</string>
		<key>size</key>
		<string>{1752,2393}</string>
		<key>textureFileName</key>
		<string>geode.loader/APISheet-uhd.png</string>
	</dict>
</dict>
</plist>